@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8bz4rs');
  src:  url('../fonts/icomoon.eot?8bz4rs#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8bz4rs') format('truetype'),
    url('../fonts/icomoon.woff?8bz4rs') format('woff'),
    url('../fonts/icomoon.svg?8bz4rs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_upload_w:before {
  content: "\e900";
  color: #fff;
}
.icon-icon_thumbnail_list_b_mouse_hover-on:before {
  content: "\e901";
}
.icon-icon_delete_keyword_vb:before {
  content: "\e902";
  color: #1053ff;
}
.icon-icon_print_b:before {
  content: "\e903";
}
.icon-icon_upload_b:before {
  content: "\e904";
}
.icon-icon_form_w_mouse_hover:before {
  content: "\e905";
  color: #fff;
}
.icon-logo_b_1:before {
  content: "\e906";
}
.icon-icon_events_w:before {
  content: "\e907";
  color: #fff;
}
.icon-icon_form_b_mouse_hover:before {
  content: "\e908";
}
.icon-icon_event_add:before {
  content: "\e909";
  color: #1053ff;
}
.icon-icon_arrow_right2_vb_mouse_hover:before {
  content: "\e90a";
  color: #1053ff;
}
.icon-icon_light_off_b .path1:before {
  content: "\e90b";
  color: rgb(0, 0, 0);
  opacity: 0.64;
}
.icon-icon_light_off_b .path2:before {
  content: "\e90c";
  margin-left: -1.7412109375em;
  color: rgb(255, 255, 255);
}
.icon-icon_events_b:before {
  content: "\e90d";
}
.icon-icon_thumbnail_list:before {
  content: "\e90e";
  color: #a39da4;
}
.icon-icon_arrow_right2_vb:before {
  content: "\e90f";
  color: #1053ff;
}
.icon-icon_cn_vb:before {
  content: "\e910";
  color: #1053ff;
}
.icon-icon_order_b:before {
  content: "\e911";
}
.icon-icon_artists_b:before {
  content: "\e912";
}
.icon-icon_artists_w:before {
  content: "\e913";
  color: #fff;
}
.icon-icon_arrow_left_vb_mouse_hover:before {
  content: "\e914";
  color: #1053ff;
}
.icon-icon_order_w:before {
  content: "\e915";
  color: #fff;
}
.icon-icon_thumbnail_square_b_mouse_hover-on:before {
  content: "\e916";
}
.icon-icon_arrow_down_vb_mouse_hover:before {
  content: "\e917";
  color: #1053ff;
}
.icon-icon_thumbnail_f:before {
  content: "\e918";
  color: #a39da4;
}
.icon-icon_CV_b_mouse_hover:before {
  content: "\e919";
}
.icon-icon_form:before {
  content: "\e91a";
  color: #a39da4;
}
.icon-icon_arrow_right_b:before {
  content: "\e91b";
}
.icon-icon_light_vb .path1:before {
  content: "\e91c";
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-icon_light_vb .path2:before {
  content: "\e91d";
  margin-left: -1.6787109375em;
  color: rgb(16, 83, 255);
}
.icon-icon_CV_w_mouse_hover:before {
  content: "\e91e";
  color: #fff;
}
.icon-icon_CV:before {
  content: "\e91f";
  color: #a39da4;
}
.icon-icon_event_date:before {
  content: "\e920";
  color: #1053ff;
}
.icon-icon_thumbnail_f_b_mouse_hover-on:before {
  content: "\e921";
}
.icon-icon_research_2_vb:before {
  content: "\e922";
  color: #1053ff;
}
.icon-icon_arrow_right_w:before {
  content: "\e923";
  color: #fff;
}
.icon-icon_events_vb:before {
  content: "\e924";
  color: #1053ff;
}
.icon-icon_logout:before {
  content: "\e925";
  color: #a39da4;
}
.icon-icon_arrow_right_vb_mouse_hover:before {
  content: "\e926";
  color: #1053ff;
}
.icon-icon_arrow_down_b:before {
  content: "\e927";
}
.icon-icon_print_vb_mouse_hover:before {
  content: "\e928";
  color: #1053ff;
}
.icon-icon_light_b .path1:before {
  content: "\e929";
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-icon_light_b .path2:before {
  content: "\e92a";
  margin-left: -1.7412109375em;
  color: rgb(0, 0, 0);
}
.icon-icon_thumbnail_square_w_mouse_hover-on:before {
  content: "\e92b";
  color: #fff;
}
.icon-icon_check_w:before {
  content: "\e92c";
  color: #fff;
}
.icon-icon_light_off_vb .path1:before {
  content: "\e92d";
  color: rgb(0, 0, 0);
  opacity: 0.64;
}
.icon-icon_light_off_vb .path2:before {
  content: "\e92e";
  margin-left: -1.6787109375em;
  color: rgb(16, 83, 255);
}
.icon-icon_size:before {
  content: "\e92f";
  color: #a39da4;
}
.icon-icon_delete:before {
  content: "\e930";
}
.icon-icon_arrow_down_w:before {
  content: "\e931";
  color: #fff;
}
.icon-logo_home:before {
  content: "\e932";
  color: #fff;
}
.icon-icon_order:before {
  content: "\e933";
  color: #a39da4;
}
.icon-icon_research_2_b:before {
  content: "\e934";
}
.icon-icon_en_w:before {
  content: "\e935";
  color: #fff;
}
.icon-icon_thumbnail_f_w_mouse_hover-on:before {
  content: "\e936";
  color: #fff;
}
.icon-icon_thumbnail_square:before {
  content: "\e937";
  color: #a39da4;
}
.icon-icon_en_b:before {
  content: "\e938";
}
.icon-icon_event_date_w:before {
  content: "\e939";
  color: #fff;
}
.icon-icon_works_vb:before {
  content: "\e93a";
  color: #1053ff;
}
.icon-icon_event_add_w:before {
  content: "\e93b";
  color: #fff;
}
.icon-icon_like:before {
  content: "\e93c";
  color: #1053ff;
}
.icon-icon_arrow_left_b:before {
  content: "\e93d";
}
.icon-icon_event_time:before {
  content: "\e93e";
  color: #1053ff;
}
.icon-icon_artists_vb:before {
  content: "\e93f";
  color: #1053ff;
}
.icon-icon_thumbnail_list_w_mouse_hover-on:before {
  content: "\e940";
  color: #fff;
}
.icon-icon_arrow_left_w:before {
  content: "\e941";
  color: #fff;
}
.icon-icon_research_1_vb:before {
  content: "\e942";
  color: #1053ff;
}
.icon-icon_delet_vb:before {
  content: "\e943";
  color: #1053ff;
}
.icon-icon_date_1:before {
  content: "\e944";
  color: #a39da4;
}
.icon-icon_works_b:before {
  content: "\e945";
}
.icon-icon_upload_vb:before {
  content: "\e946";
  color: #1053ff;
}
.icon-icon_cn_b:before {
  content: "\e947";
}
.icon-icon_research_1_b:before {
  content: "\e948";
}
.icon-icon_en_vb:before {
  content: "\e949";
  color: #1053ff;
}
.icon-logo_w_login:before {
  content: "\e94a";
  color: #fff;
}
.icon-icon_event_time_w:before {
  content: "\e94b";
  color: #fff;
}
.icon-icon_research_1_w:before {
  content: "\e94c";
  color: #fff;
}
.icon-icon_size_b_mouse_hover:before {
  content: "\e94d";
}
.icon-icon_size_w_mouse_hover:before {
  content: "\e94e";
  color: #fff;
}
.icon-icon_cn_w:before {
  content: "\e94f";
  color: #fff;
}
.icon-logo_b_login:before {
  content: "\e950";
}
.icon-icon_works_w:before {
  content: "\e951";
  color: #fff;
}
