.home-page {
  position: relative;
 width: 100%;
  height: 1080px;
  height: 1080px;
  height: 1080px;
  height: 67.5rem;

}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
  z-index: 90;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.home-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 33px 66px;
  padding: 2.0625rem 4.125rem;
  z-index: 100;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 0;
  padding: 33px 66px;
  padding: 33px 66px;
  padding: 33px 66px;
  padding: 2.0625rem 4.125rem;
}

.logo1 {

  -webkit-box-flex: 1;

      -ms-flex-positive: 1;

          flex-grow: 1;
}

.logo1 img {
  width: 227px;
  width: 227px;
  width: 227px;
  width: 14.1875rem;
  height: 30px;
  height: 30px;
  height: 30px;
  height: 1.875rem;
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-item {
  margin-left: 60px;
  margin-left: 60px;
  margin-left: 60px;
  margin-left: 3.75rem;
  cursor: pointer;
}


.jt {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  bottom: 40px;
  bottom: 40px;
  bottom: 40px;
  bottom: 2.5rem;
  width: 32px;
  width: 32px;
  width: 32px;
  width: 2rem;
  height: 17px;
  height: 17px;
  height: 17px;
  height: 1.0625rem;
  z-index: 100;
}

.middle-content {
  margin: 102px auto 161px auto;
  margin: 102px auto 161px auto;
  margin: 102px auto 161px auto;
  margin: 6.375rem auto 10.0625rem auto;
  width: 1112px;
}

.production-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.production-first-item {
  position: relative;
  width: 541px;
  height: 402px;
  margin-right: 28px;
  cursor: pointer;
}

.production-first-item:last-child {
  margin-right: 0;
}

.production-first-item img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.production-second {
  width: 100%;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 29px;
}

.production-second-item {
  position: relative;
  width: 352px;
  height: 401px;
  margin-right: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
	overflow-y: hidden;
	overflow-y:visible;
}

.production-second-item:last-child {
  margin-right: 0;
}

.production-second-item img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.production-first-item:hover,
.production-second-item:hover {
  border: 4px solid #1053FF;
}

.production-hover,
.cargo-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .9);
  top: 0;
  left: 0;
  padding: 64px 0 0 48px;
  display: none;
}

.cargo-hover {
  padding: 52px 0 0 26px;
}
.cargo-info-name{
 font-weight: bold;
 margin-top: 30px;
}
.production-price{
 position: absolute;
  bottom: 67px;
  left: 51px;
  font-size:18px;
  color: #1053FF;
}
.cargo-info-price{
  position: absolute;
  bottom: 41px;
  left: 26px;
  font-size:18px;
  color: #1053FF;
}
.icon-sell-out{
  font-size: 36px;
  position: absolute;
  top: -2px;
  right: 15px;
}
.middle-swiper-content {
  width: 100%;
  height: 702px;
  height: 702px;
  height: 702px;
  height: 43.875rem;
  /* position: relative; */
  overflow: hidden;

}

.swiper-middle {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;

}

.artist-content {
  margin: 82px auto 0 auto;
  width: 1117px;
  width: 1117px;
  width: 1117px;
  width: 69.8125rem;
}

.artist-tip1 {
  font-size: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  line-height: 108px;
}

.artist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  width: 100%;
  margin-bottom: 42px;
  cursor: pointer;
}

.artist-item:hover {
  border: 4px solid #1053FF;
}

.artist-img {
  width: 714px;
  height: 401px;
}

.artist-img img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.artist-info {
  padding-top: 50px;
  padding-left: 59px;
}

.artist-name {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.artist-intro {
  margin-top: 47px;
  width: 256px;
  /* height:66px; */
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.cargo-tag {
  font-size: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  padding: 53px 0 43px 401px;
}

.cargo-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding: 0 35px;
}

.last-icon {
  display: block;
  width: 17px;
  height: 31px;
  background: url(../img/home/jt-z@2x.png) no-repeat;
  background-size: 100% 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
  cursor: pointer;
}

.next-icon {
  display: block;
  width: 17px;
  height: 31px;
  background: url(../img/home/jt-y@2x.png) no-repeat;
  background-size: 100% 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 30px;
  cursor: pointer;
}

.cargo-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  height: 272px;
}

.cargo-item {
  width: 250px;
  height: 271px;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.cargo-item:hover {
  border: 4px solid #1053FF;
}

.cargo-item:last-child {
  margin-right: 0px;
}

.cargo-item img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.router {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(163, 157, 164, 1);
  cursor: pointer;
}
.router:hover{
  color: #1053FF;
}
.router img {
  width: 18px;
  height: 32px;
  margin-left: 30px;
}

.footer {
  margin-top: 115px;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1053FF;
  padding: 0 70px;
  min-width: 1337px;
}

.footer-logo {
  width: 105px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 18px;
}

.footer-tip {
  font-size: 14px;
  font-family: Calibri;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.footer-input-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-input{
  height: 52px;
  border:1px solid #FFFFFF;
  width: 450px;
  padding-left: 23px;
  color: #FFFFFF;
}
.footer-input::-webkit-input-placeholder {
  color: #fff;
}
.footer-input-button{
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 56px;
  border:1px solid #FFFFFF;
  border-left: none;
}
.footer-input-button img{
  width: 28px;
  height: 18px;
}
.footer-a{
  font-size:14px;
  font-weight:400;
  color:rgba(255, 255, 255, 1);
  margin-left: 52px;
}

.footer-a:last-child{
  margin-left: 52px;
}

.thumbnail-list {
  width: 95%;
  overflow: hidden;
  
}
.draw-cargo-list,.photo-cargo-list,.sculpture-cargo-list{
  overflow: visible;
}
