* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a,
a:link,
a:active,
a:checked,
a:hover,
a:visited {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  text-indent: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}



input:focus::-webkit-input-placeholder {
  color: transparent;
}

input {
  background: none;
  -webkit-appearance: none;
  caret-color: #1053ff;
}

textarea {
  resize: none;
}

p,
div {
  word-break: break-all;
  margin-bottom: 0;
}

i {
  font-style: normal;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

/* 字体icon无法被选中 */
*[class^="icon"] {
  user-select: none;
}

.p-bold {
  font-weight: bold;
}

.headline1 {
  font-size: 24px;
}

.headline2 {
  font-size: 20px;
}

.headline3 {
  font-size: 18px;
}

.p-content1 {
  font-size: 16px;
}

.p-content2 {
  font-size: 14px;
}

.p-content3 {
  font-size: 12px;
}
