.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.content {
  width: 1164px;
}

.production-show {
  width: 1164px;

}

.main-show {
  display: flex;
  height: 526px;
  width: 100%
}

.main-img {
  width: 802px;
  height: 526px;
  margin-right: 53px;
}

.main-img img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

.production-intro {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.p-intro-list {
  flex-grow: 1;
}

.p-name {
  font-size: 20px;
  color: #000;

}

.intro-item {
  font-size: 14px;
}

.at-name {
  font-size: 14px;
}

.enshrine {
  font-size: 12px;
  font-family: PingFangSC-Light;
  font-weight: 300;
  color: rgba(163, 157, 164, 1);
  line-height: 25px;
  cursor: pointer;
}

.icon-enshrine {
  font-size: 20px;
  color: #a39da4;
  vertical-align: middle;

}

.thumbnail {
  width: 100%;
  position: relative;
  margin-top: 57px;
  padding-left: 32px;
}

.thumbnail-slick {
  /* width: 92%; */
  display: flex;
  align-items: center;
  /* position: relative; */



}

.thumbnail-list {
  width: 95%;
  overflow: hidden;
}

.thumbnail-slick::-webkit-scrollbar {
  display: none;
}

.icon-last {
  font-size: 32px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  cursor: pointer;
  width: 32px;
}

.icon-next {
  font-size: 32px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  width: 32px;
  right: 0px;
}

.icon-last:hover,
.icon-next:hover {
  color: #1053FF;
}

.icon-last:active,
.icon-next:active {
  color: #0032FF;
}

.thumbnail-item {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.thumbnail-item:last-child {
  margin-right: 0;
}

.thumbnail-item:hover,
.thumbnail-selected {
  border: 3px solid #1053FF;
}

.thumbnail-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.production-info {
  width: 100%;
  border-bottom: 2px solid #A39DA4;
  padding: 70px 50px 36px 50px;
  position: relative;
  margin-bottom: 60px;
}

.info-tip {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 22px;
  margin-bottom: 33px;
}

.intro-box {
  height: 50px;
  overflow: hidden;
}

.show-intro {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 25px;
  position: relative;
  overflow: hidden;
  transition: height 0.5s;

}

.icon-show-intro {
  width: 24px;
  font-size: 12px;
  position: absolute;
  bottom: 36px;
  right: 0;
  cursor: pointer;
}

.icon-show-intro:hover {
  color: #1053FF;
}

.icon-show-intro:active {
  color: #0032FF;
}


.head-menu {
  width: 100%;
  display: flex;
  align-items: center;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  flex-grow: 1;
}

.icon-menue {
  display: flex;
  align-items: center;
}

.icon-menue-item {
  font-size: 24px;
  color: #A39DA4;
  cursor: pointer;
  margin-left: 62px;
}

.icon-menue-item:hover {
  color: #1053FF;
}

.pd-list {
  width: 1185px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 44px;
}

.pd-item {
  width: 270px;
  height: 270px;
  margin-right: 26px;
  margin-bottom: 31px;
  position: relative;
  cursor: pointer;
}

.pd-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.artist-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
  padding: 50px 38px;
}

.pd-item:hover {
  border: 3px solid #1053FF;
}

.pd-name {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  line-height: 22px;
}

.pd-intro {
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  line-height: 22px;
}

.buy-btn {
  width: 100%;
  height: 50px;
  border: 2px solid #1053FF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 30px;
}

.buy-btn:hover {
  background: #1053FF;
  color: #FFFFFF;
}

.buy-btn:active {
  background: #0032FF;
  color: #FFFFFF;
}

.alert-login {
  position: fixed;
  width: 564px;
  height: 804px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 0 0 0;
  border: 2px solid #1053FF;
  display: none;
}

.alert-tips1 {
  font-size: 18px;
  font-weight: 400;
  color: rgba(16, 83, 255, 1);
  line-height: 30px;
  margin-top: 113px;
}

.er-code {
  width: 230px;
  height: 230px;
  margin-top: 40px;
}

.er-code img {
  width: 100%;
  height: 100%;
}

.alert-tips2 {
  font-size: 18px;
  font-weight: 300;
  color: rgba(163, 157, 164, 1);
  line-height: 46px;
}
.icon-close-icon,.icon-close-big{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  color: #1053FF;
}
.icon-close-big{
  color: #A39DA4;
}
.icon-logo{
  font-size: 36px;
}
.big-img{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.big-img img{
  width: 62.5%;
  height: auto;
}
.icon-big-last,.icon-big-next{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 32px;
  font-size: 32px;
  color: #A39DA4;
  cursor: pointer;
}
.icon-big-last{
  left: 46px;
}
.icon-big-next{
  right: 46px;
}